
<div class="auxiliary">
  <h2>Update Business</h2>

  <%= form_tag("/businesses/#{@business.id}/update") do %>

    <p>Name
      <input type="text" name="name" value="<%=@business.name%>" >
    </p>
    <p>Business Phone Number
      <input type="tel" size=10 name="business_phone" value="<%=@business.business_phone%>">
    </p>
    <input type="submit" value="update">

  <% end %>

  <%= form_tag("/businesses/#{@business.id}/delete") do %>
    <input type="submit" value="delete">
  <% end %>
</div>