<div class="auxiliary">
   <% if current_user.businesses != nil %> 
        <h2>Your Businesses</h2>
        <% current_user.businesses.each do |business| %>
          <div class="biz">
          <p><%= business.name %></p>
          <a class="button_link biz_button" href="/businesses/<%= business.id %>/edit">Edit</a>
          <a class="button_link biz_button" href="/businesses/<%= business.id %>/select">Select</a></br>
          </div>
      <% end %>
      <% else %>
        <p>You currently have no businesses.</p>
    <% end %>


  <h3>Add Business:</h3>

  <%= form_tag("/businesses/new") do %>

      <input type="text" name="name" placeholder="business name">
      <input type="tel" size=10 name="business_phone" placeholder="phone #">
    </p>
    <p><input type="submit" value="Create"></p>

  <% end %>

</div>
