<h3>From Client</h3><br>
<%@incoming.each do |incoming|%>
<p>
<%=incoming.message%><br>

<%end%>
<h3>From Business</h3><br>
<%@outgoing.each do |outgoing|%>
<p>
<%=outgoing.message%><br>

<%end%>
<div id="sendMessage" class="mike">
  <%= form_tag("send_message/" + @client.id.to_s) do %>
    <p> 
    <textarea name="message_content" rows="1" cols="75" value="<%= params[:message_content] %>">
    </textarea>
    </p>   
    <input type="Submit" value="SEND"></p>
  <% end %>
</div>

