<% @touch.each do |touch| %>
<ul>
  <% if touch.outgoing == false %>
    <li class="incoming">
      <%=touch.message%>
    </li>
  <% else %>
    <li class="outgoing">
      <%=touch.message%>
    </li>
    </ul>
<% end %>

<%end%>
<div id="sendMessage" class="mike">
  <%= form_tag("send_message/" + @client.id.to_s) do %>
    <p> 
    <textarea name="message_content" rows="2" cols="70" value="<%= params[:message_content] %>">
    </textarea>
    </p>   

    <input class="send_button" type="submit" value="send"></p>

  <% end %>
</div>

