<h1>Create a New Message</h1>

<div id="new_message" class="center">

<!-- This is the current message -->


<!-- 
This is the post action for creating a new message.
  Required parts are: The client ID, business ID, the message content. The controller will set the OUTGOING boolean to "true", and the READ boolean to "true". The "form_tag" helper documentation can be found at:

  http://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.html#method-i-form_tag 
  -->


<%= form_tag("/touch/create_new") do %>

<!-- Equal to the current user's ID. This Beta Version requires input to form. -->
<p> Client ID: 
<input type="integer" name="client_id" value="<%= params[:client_id] %>"></p>


<!-- Equal to the current user's ID. This Beta Version requires input to form. -->
<p>Business ID:
<input type="integer" name="business_id" value="<%= params[:business_id] %>"></p>


<!-- This is the text box for entering the message content.-->
<p>Message:
  <textarea name="message_content" rows="10" cols="75" value="<%= params[:message_content] %>">
  </textarea>
</p>

<p><input type="submit" value="Create"></p>

<% end %>

</div>