<h1>Conversation Thread</h1>
<% if @client != nil %>
  <% @touches.each do |touch| %>
        <% if touch.outgoing == true %>

          <div class="outgoing">
            <p> 
              <%= touch.message %> 
            </p>
          </div>

        <% else %>
          <div class="incoming">
            <p> 
              <%= touch.message %> 
            </p>
          </div>

        <% end %>
  <% end %>
<% end %>
