  <% @clients.each do |client|%>
    <h3>Client:</h3>
  
    <%= client.first_name%>
    <%= client.last_name%>

    <% client.recent_touches.each do |touch| %>
      <div class="touch">
        <%= touch.message %>
      </div>
    <% end %>

  <%end%>