<div id="new_client">

  <h4>Add client:</h4>

  <%= form_tag("/clients/add/#{@business.id}", class: "client_form") do %>

    <p>First name: 
      <input type="text" name="first_name" placeholder="Lady" required>
    </p>
    <p>Last name:
      <input type="text" name="last_name" placeholder="Gaga" required>
    </p>
    <p>Phone number:
  <input type="tel" size=10 name="phone_number" placeholder="4022185555" required>
    </p>
    <p>Notes:
      <textarea name="notes" rows="5" cols="20" value="notes">
      </textarea>
    </p>
    <input type="submit">
    
  <% end %>
</div>
