<h1>Welcome to SMS-CRM</h1>
<h3><%= link_to("Log in", "/users/sign_in", method: "get") %></h3>
<h3><%= link_to("Sign up", "/users/sign_up", method: "get") %></h3>
<h3><%= link_to("Profile", "/users/edit", method: "get") %></h3>

<%= link_to("Log Out", "/users/sign_out", method: "delete") %>

