<script type="text/javascript" src="global.js"></script>
<div id="left" class="mike">This is the inbox
<input type="text" id="search">
</div>
<div id="center" class="jeremy">This is the current message</div>
<div id="right" class="beth">This is the client info</div>