<div id="left" class="mike">
  <%= form_tag("/touch/search_touch") do %>
    <p> Search(Name, Number, Etc)
    <input type="text" name="search"></p>
  <% end %>
  
  <h1>Messages</h1>


</div>

<!-- CONVERSATION COLUMN -->

<div id="center" class="jeremy">
  <p>
    <a href ="/touch/current_thread">See Conversation Thread</a>
  </p>

  <p>
    <%= form_tag("/touch/create_new") do %>
      <input type="submit" name="new_message_button" value="Create New Message">
    <% end %>
  </p>
  


<!-- CLIENTS COLUMN -->
<div id="right" class="beth">
<a href ="/clients/view/<%= @business.id %>">View clients</a>
</div>

