<div id="left" class="mike">
  <%= form_tag("/touch/search_touch") do %>
    <p> Search(Name, Number, Etc)
    <input type="text" name="search"></p>
  <% end %>
  
  <h1>Messages</h1>


</div>



<!-- CLIENTS COLUMN -->
<div id="right" class="beth">
<a href ="/clients/info">Client Info</a>
</div>

