<script type="text/javascript" src="global.js"></script>
<div id="left" class="mike">This is the inbox</div>
<input type="text" id="search">


<!-- ////////////////////////////////////////////////////////// -->
///////PICTURE THIS IN THE CENTER, WITH WORLD-CLASS CSS STYLING:///// 


<div id="center" class="jeremy">

<!-- This is the current message -->


<!-- This is the post action for creating a new message.
  Required parts are: The client ID, business ID, the message content. The controller will set the OUTGOING boolean to "true", and the READ boolean to "true"-->
<form method="POST" action="/touch/create_new" enctype="multipart/form-data">


<!-- Equal to the current user's ID. This Beta Version requires input to form. -->
<p> Client ID: 
<input type="integer" name="client_id" value="<%= params[:client_id] %>"></p>


<!-- Equal to the current user's ID. This Beta Version requires input to form. -->
<p>Business ID:
<input type="integer" name="business_id" value="<%= params[:business_id] %>"></p>


<!-- This is the text box for entering the message content-->
<p>Message:
<input type="text" name="message_content" value="<%= params[:message_content] %>"></p>

<p><input type="submit" value="Create"></p>

</form></div>

////////////THIS IS THE END OF THE CENTER SECTION.///////////////////
<!-- ////////////////////////////////////////////////////////////// -->

<div id="right" class="beth">
  <div id="client_info" style="display:none;">
    <h3>Client info:</h3>
      <p id="client_name"></p>
      <p id="client_number"></p>
      <p id="client_notes"></p>
      <form action="client_active_form">
        <input id="active" type="radio" name="active" value="active">Active<br>
        <input id="inactive" type="radio" name="inactive" value="inactive">Inactive<br>
        <input id="submit" type="submit" value="Submit">
      </form>

  </div>
</div>

