#main{
  margin-top: 15px;
  min-height: 600px;

}

#left ul{
  list-style-type: none;
}

#left li{
  background: #f9f9f9;
  border-bottom: solid 1px gray;
  padding: 15px 10px;
}

#left li[selected]{
  background: gray;
}

#left li a{
  color: black;
  font-weight: 800;
  text-decoration: none;
}

#left li p{
  text-decoration: none;
  font-size: .8em;
}

#center{
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  min-height: 600px;
}

#right{
  background: #f9f9f9;
  
}

#center h3 {
  text-align: center;
}


#thread ul{
  list-style-type: none;
}

#thread ul li{
  margin-bottom: 10px;
  max-width: 75%;
}

#thread .incoming{
  float: left;
  margin-left: 5px;
  text-decoration: none;
  padding: 5px;
  background: lightgray;
  border: solid 1px lightgray;
  border-radius: 15px;
  clear: both;
}


#thread .outgoing {
  float: right;
  margin-right:5px;
  text-decoration: none;
  padding: 5px;
  background: #6BCAE2;
  border: solid 1px #6BCAE2;
  border-radius: 15px;
  color: white;
  clear: both;
}

