#main{
  min-height: 600px;
}

#center{
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  min-height: 600px;
  padding:0 15px;
  margin-top:0;
}

#center h3 {
  text-align: center;
}


#thread ul{
  list-style-type: none;
}

#thread ul li{
  margin-bottom: 10px;
  max-width: 75%;
}

#thread .incoming{
  float: left;
  // margin-left: 5px;
  text-decoration: none;
  padding: 5px;
  background: lightgray;
  border: solid 1px lightgray;
  border-radius: 15px;
  clear: both;
}


#thread .outgoing {
  float: right;
  // margin-right:5px;
  text-decoration: none;
  padding: 5px;
  background: #6BCAE2;
  border: solid 1px #6BCAE2;
  border-radius: 15px;
  color: white;
  clear: both;
}
