* {
    box-sizing: border-box;

}

body {
  color: #797571;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

 h1{
  text-align: center;
 }

.auxiliary {
  background: #f9f9f9;
  min-height: 600px;
}

p {
  margin: 0;
  padding-top: 3px;
}

p.alert{
  // font-weight:800;
  // text-transform: uppercase;
  font-style: italic;
}
/***********************
NAVIGATION
***********************/

nav {
  text-align: center;
  padding: 0;
  margin: 0;
  background:  #FE8402;
}

nav h1{
  background: white;
  font-size: 2.2em;
  float: left;
  padding: 0 5px;
  margin: 0;
  border: 5px solid #FE8402;
}

nav ul{
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

nav li {
  text-transform: uppercase;
  background-color: #FE8402;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: inline;
}

nav li:hover {
  background-color: #d06b00;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight:400;
  padding: 15px;
  line-height: 1.5;
}


/***********************
DROPDOWN
***********************/

/* Style The Dropdown Button */
.dropbtn {
    text-transform: uppercase;
    background-color: #FE8402;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content li, .dropdown-content li:hover {
  background-color: transparent;
  display: block;
  text-transform: capitalize;
  font-size: .9em;
  padding: 0;
  text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #d06b00;
}

/***********************
BUTTONS
***********************/
.button_link {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FE8402;
    display: inline-block;
    color: white;
    padding: 3px 6px;
    font-size: 10px;
    border: none;
    // border-bottom: 2px solid #d06b00;
    // border-right: 2px solid #d06b00;
    cursor: pointer;
 }

 .button_link:hover {
  background-color: #d06b00;
 }

input[type="submit"] {
    text-transform: uppercase;
    background-color: #FE8402;
    display: inline-block;
    color: white;
    padding: 3px 6px;
    font-size: 10px;
    border: none;
    // border-bottom: 2px solid #d06b00;
    // border-right: 2px solid #d06b00;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d06b00;
}

.biz p{
  padding:3px 6px;
  background: gray;
  color: white;
  display: inline-block;
}

.biz .biz_button{
  font-size: 1em;
  padding:3px 6px;
  background: #6BCAE2;
  color: white;
  display: inline-block;
  margin-right: 0;
}

.biz .biz_button:hover{
  background: #51A5BA;
}

input[type="submit"].send_button{
  font-size: 1em;
  padding:5px 20px;
  background: #FE8402;
  color: white;
  float: right;
  display: inline-block;
  margin-right: 15px;
}

input[type="submit"].send_button:hover{
  background-color: #d06b00;
  }
